#ParaverCFG
ConfigFile.Version: 3.4
ConfigFile.NumWindows: 7

################################################################################
< NEW DISPLAYING WINDOW Interva btw hwc >
################################################################################
window_name Interva btw hwc
window_type single
window_id 1
window_position_x 396
window_position_y 547
window_width 600
window_height 114
window_comm_lines_enabled false
window_flags_enabled true
window_color_mode window_in_null_gradient_mode
window_maximum_y 51369.785000
window_scale_relative 0.010935
window_object appl { 1, { Some } }
window_object task { 0, 32, { None, None, None, None, All, All, All, All, All, All, All, All, All, All, All, All, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None } }
window_begin_time_relative 0.825808
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 1 1 0
window_click_info 1 9327595421 9329901601 4 9328748511
window_expanded true
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Int. Between Evt}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_analyzer_executed 1
window_analyzer_info 0.000000 18257537714.000000 1 32
window_filter_module evt_type 1 42000050 

################################################################################
< NEW DISPLAYING WINDOW CPU time >
################################################################################
window_name CPU time
window_type single
window_id 2
window_position_x 308
window_position_y 373
window_width 600
window_height 114
window_color_mode window_in_null_gradient_mode
window_maximum_y 94146537.983099
window_scale_relative 1.197845
window_object appl { 1, { All } }
window_begin_time_relative 0.000000
window_pos_to_disp 534
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 1 1 0
window_click_info 0 719698 719868 2 719698
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Div}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Div { 1, { 1 2150.000000 } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 42000059 

################################################################################
< NEW DISPLAYING WINDOW Preempted time >
################################################################################
window_name Preempted time
window_type composed
window_id 3
window_factors 1.000000 1.000000
window_operation substract
window_identifiers 1 2
window_position_x 398
window_position_y 402
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 264.449674
window_minimum_y 3.123000
window_scale_relative 0.009900
window_object appl { 1, { Some } }
window_object task { 0, 32, { None, None, None, None, All, All, All, All, All, All, All, All, All, All, All, All, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None } }
window_begin_time_relative 0.883303
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 1 9326672949 9328979129 4 9327826039
window_expanded false
window_open false
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 1
window_analyzer_info 0.000000 18257537714.000000 1 32

################################################################################
< NEW DISPLAYING WINDOW Interva btw hwc >
################################################################################
window_name Interva btw hwc
window_type single
window_id 4
window_position_x 396
window_position_y 547
window_width 600
window_height 114
window_comm_lines_enabled false
window_flags_enabled true
window_color_mode window_in_null_gradient_mode
window_maximum_y 51369.785000
window_scale_relative 0.010935
window_object appl { 1, { Some } }
window_object task { 0, 32, { None, None, None, None, All, All, All, All, All, All, All, All, All, All, All, All, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None } }
window_begin_time_relative 0.825808
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 1 1 0
window_click_info 1 9327595421 9329901601 4 9328748511
window_expanded true
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Int. Between Evt}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_analyzer_executed 1
window_analyzer_info 0.000000 18257537714.000000 1 32
window_filter_module evt_type 1 42000050 

################################################################################
< NEW DISPLAYING WINDOW Relative preempted time >
################################################################################
window_name Relative preempted time
window_type composed
window_id 5
window_factors 100.000000 1.000000
window_operation divide
window_identifiers 3 4
window_position_x 386
window_position_y 414
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 20.000000
window_scale_relative 0.027834
window_object appl { 1, { All } }
window_begin_time_relative 0.213919
window_pos_to_disp 596
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 1 18426532858 18472070266 22 18449301562
window_expanded false
window_open false
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, Select Range} } }
window_semantic_module topcompose2 Select Range { 2, { 1 9223372036854775808.000000, 1 5.000000 } }
window_analyzer_executed 1
window_analyzer_info 18103217254.040237 20407410149.440239 1 32

################################################################################
< NEW DISPLAYING WINDOW Long bursts >
################################################################################
window_name Long bursts
window_type single
window_id 6
window_position_x 416
window_position_y 152
window_width 600
window_height 134
window_physical_filtered true
window_comm_lines_enabled false
window_maximum_y 1.000000
window_scale_relative 0.499088
window_object appl { 1, { All } }
window_begin_time_relative 0.128968
window_pos_to_disp 597
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 1 0
window_click_info 1 20053788613 20870321463 20 20462055038
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, State Record Dur.}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, =}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, All}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Is In Range}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Is In Range { 2, { 1 9223372036854775808.000000, 1 20000.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0

################################################################################
< NEW DISPLAYING WINDOW Significant preemptions >
################################################################################
window_name Significant preemptions
window_type composed
window_id 7
window_factors 1.000000 1.000000
window_operation product
window_identifiers 5 6
window_position_x 366
window_position_y 317
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 20.000000
window_scale_relative 1.000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000
window_pos_to_disp 410
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 0 18426532858 18472070266 22 18449301562
window_expanded false
window_open false
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 1
window_analyzer_info 18103217254.040237 20407410149.440239 1 32
